# Packages #
########################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#Logs and databases#
*.log
*.sql
*.sqlite

#Build system
#########################
node_modules/
assets/bower_components/
.sass-cache
*.css.map
build/
dist/
